<!-- 
Sign up page, pretty much the same as login.
-->
{% extends 'base.jinja' %}

{% block content %}
<h1>Sign Up</h1>
<form id="signup-form">
    <p>Username</p>
    <input id="username"/>
    <p>Password</p>
    <input id="password" type="password"/>
    <button type="submit">Sign up</button>
</form>

<script>
$(document).ready(function() {
    $("#signup-form").submit(function(event) {
        event.preventDefault();
        $.ajax({
            url: "{{ url_for('signup_user') }}",
            method: "POST",
            data: JSON.stringify({
                username: $("#username").val(),
                password: $("#password").val()
            }),
            contentType: "application/json",
            success: function(response) {
                if (typeof response === "object") {
                    localStorage.setItem("publicKey", response.public_key);
                    localStorage.setItem("privateKey", response.private_key);
                    window.location.href = response.url;
                } else {
                    alert(response);
                }
            },
            error: function() {
                alert("Signup failed. Please try again.");
            }
        });
    });
});
</script>
{% endblock %}